{
  "presets": [ "@babel/preset-env", "@babel/preset-react" ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel",
    "transform-class-properties",
    ["styled-components", { "ssr": true, "namespace": "sc-" }]
  ]
}
